@use '../../../styles/colors.scss' as *;
@use '../../../styles/fonts.scss' as *;

@use "sass:map";

$width: 30vw;
$height: 100dvh;
$margin: 30px;

$section-height: 80px;

.sidebar-container {

    position: fixed;
    right: 5vw;
    top: 0;
    box-sizing: border-box;
    width: $width;
    height: calc($height - $margin * 2);
    margin:  $margin 0;
    border-radius: 20px;
    list-style: none;
    overflow: hidden;
    display: grid;
    grid-template-rows: 5dvh repeat(7, $section-height) auto repeat(2, 60px);
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    transition: all 300ms ease-out;
    animation: showText 300ms ease-out;

    &.hide {
        animation: hideText 300ms forwards;
    }

    &.closed {
        transform: translateX(50vw);
        opacity: 0;
    }

    &.open {
        transform: translateX(0vw);
        opacity: 1;
    }

    &::before,
    &::after {
        content: "";
        background-color: var(--main);
        grid-column: span 6;
    }

    &::after {
        height: 100%;
        grid-row: 9;
    }

    .sidebar-section {
        overflow: hidden;
        height: 110%;
        width: 110%;
        margin: -1%;
        grid-column: span 6;
        gap: 0;
        display: grid;
        
        &:nth-child(-n + 6) {
            grid-template-columns: repeat(6, 1fr);

            &::after {
                content: "";
                height: 110%;
                width: 110%;
                display: block;
                background-color: var(--main);
                margin: -1%;
            }
        }

        
        &:nth-child(n + 7) {
            > span,
            > a {
                transform-origin: 50%;
            }
        }

        > span,
        > a {
            display: flex;
            height: 100%;
            overflow: hidden;
            position: relative;
            transition: transform 300ms ease-in-out;
            transform-origin: 0% 50%;

            > svg {
                width: $width;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        .svg-text {
            cursor: pointer;

            > rect {
                fill: var(--main);
            }

            * {
                pointer-events: none;
            }
    
            mask text {
                font-family: $font-sans;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 30px;
                letter-spacing: -2px;
                transition: all 300ms;
                transform: scale(1.8);
                transform-origin: 0% 50%;
            }
    
        }

        .icon path:nth-child(2) {
            fill: black;
        }
        
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {

            > span { grid-column: 1 / 6 ; }
            
            &::after { grid-column: 6 / 7 ; }

        }

        &:nth-child(4) {

            &:has(#sidebar-text-mask-habilidades) {

                > span { grid-column: 1 / 6 ; }
                
                &::after { grid-column: 6 / 7 ; }

            }
            
            &:has(#sidebar-text-mask-skills) {

                > span { grid-column: 1 / 4 ; }
                
                &::after { grid-column: 4 / 7 ; }

            }

        }

        &:nth-child(5) {

            > span { grid-column: 1 / 5 ; }
            
            &::after { grid-column: 5 / 7 ; }
            
        }
        
        &:nth-child(6) {
            grid-row: 6;
            
            > a { grid-column: 1 / 5 ; }
            
            &::after { grid-column: 5 / 7 ; }

        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
            grid-column: span 1;
            margin: -1px;
        }

        &:nth-child(10) {
            grid-column: span 3;
            grid-template-columns: 1fr 1fr 1fr;

            &::after {
                content: "";
                height: 110%;
                display: block;
                background-color: var(--main);
                grid-column: span 2;
            
            }
        }

        
        &:nth-child(11),
        &:nth-child(12) {
            height: 100%;
            width: 100%;
            margin: 0%;
            
            mask text {
                font-weight: 600;
                text-transform: capitalize;
                font-size: 15px;
                letter-spacing: 0px;
                transition: all 300ms;
                transform: scale(1);
                transform-origin: 0% 50%;
            }

        }

        &:nth-child(11) {

            &:hover > a {
                transform: scale(1);

                mask text {
                    font-weight: 900;
                }
            }

            mask text {
                transform: scale(1);
                font-size: 18px;
            }

        }
        
        &:nth-child(12) {
            pointer-events: none;
            cursor: auto;

            > svg {
                width: $width;
                height: 100%;
            }
        }       

    }    
    
}

@media only screen and (max-width: 768px) {
    .sidebar-container {
        right: 17vw;
        top: 0;
        z-index: 10;
        width: calc( -2vw + 100vw - 17vw );
        height: calc( 100dvh - 15px * 2 );
        margin:  15px 0;
        grid-template-rows: 5dvh repeat(7, $section-height) repeat(2, 60px) auto;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;

        &::after { grid-row: 9; }

        &.closed {
            transform: translateX(100vw);
        }

        .sidebar-section {
            overflow: hidden;
            height: 105%;
            width: 105%;
            margin: -2.5% -2.5% -2.5% 0;
            grid-template-columns: 1fr !important;

            &::after { content: none !important; }

            > span,
            > a {
                grid-column: span 5 !important;
                width: 100%;

                > svg {
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }

            .svg-text {
                cursor: pointer;

                > rect {
                    fill: var(--main);
                }

                * {
                    pointer-events: none;
                }
        
                mask text {
                    font-weight: 900;
                    font-size: 35px;
                    transform: scale(1.1);
                }
        
            }
                        
            &:nth-child(6) {
                grid-row: 6;
            }

            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10) {
                grid-row: 8;
                grid-column: span 1;
                height: 105%;
                margin-top: -5%;

                mask svg { transform: scale(0.8); }
            }

            &:nth-child(10) {
                &::after {
                    content: none !important;                
                }
            }
            
            &:nth-child(11),
            &:nth-child(12) {
                height: 100%;
                width: 100%;
                margin: 0%;
                
                mask text {
                    font-weight: 600;
                    text-transform: capitalize;
                    font-size: 15px;
                    letter-spacing: 0px;
                    transition: all 300ms;
                    transform: scale(1);
                    transform-origin: 0% 50%;
                }

            }

            &:nth-child(11) {
                &:hover > a {
                    transform: scale(1);

                    mask text {
                        font-weight: 900;
                    }
                }
            }
            
            &:nth-child(12) {
                > svg {
                    width: 100%;
                }
            }       

        }    
        
    }
}

@keyframes hideText {
    from {
        background-color: transparent;
    }
    to {
        background-color: var(--main);
    }
}

@keyframes showText {
    from {
        background-color: var(--main);
    }
    to {
        background-color: transparent;
    }
}