@use '../../../styles/colors.scss' as *;
@use '../../../styles/fonts.scss' as *;

$width: 40px;
$border-size: 2px;

.user-ui.load .theme-switch {
    animation: loadLang 500ms;    
}

.theme-switch {
    width: $width;
    height: auto;
    aspect-ratio: 1;
    box-sizing: border-box;
    display: flex;
    z-index: 1;
    position: relative;
    transition: all 500ms;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;

    border: var(--main) $border-size solid;

    &:hover {
        aspect-ratio: 1 / 2;
        
        &::before {
            opacity: 1;
        }

        &.dark::before {
            bottom: calc( $width - $border-size * 4 );
        }
        
        &.light  {}

        > span {
            opacity: 1;

            &:nth-child(1) {
                bottom: calc( $width - $border-size * 4 );
            }

            &:nth-child(2) {
                bottom: calc( -1 * $border-size * 2 );
            }
        }
    }

    &::before {
        content: "";
        width: calc( 100% + $border-size * 4 );
        height: auto;
        aspect-ratio: 1;
        z-index: 4;
        pointer-events: none;
        border: var(--main) $border-size solid;
        position: absolute;
        box-sizing: border-box;
        left: calc( -1 * $border-size * 2 );
        bottom: calc( -1 * $border-size * 2 );
        border-radius: 50px;
        opacity: 0;
        transition: all 300ms;
    }

    > span {
        width: calc( 100% + $border-size * 4 );
        height: auto;
        aspect-ratio: 1;
        z-index: 5;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        display: flex;
        transition: all 300ms;
        font-family: $font-sans;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--main);
        position: absolute;
        left: calc( -1 * $border-size * 2 );
        bottom: calc( -1 * $border-size * 2 );
        border-radius: 100%;
        pointer-events: none;

        > svg {
            height: 70%;
            width: 70%;

            path:nth-child(2) {
                fill: var(--main);
            }
        }
    }

    &.dark {
        >:nth-child(1) {
            opacity: 1;
        }
        
        >:nth-child(2) {
            opacity: 0;
        }
    }
    
    &.light  {
        >:nth-child(1) {
            opacity: 0;
        }

        >:nth-child(2) {
            opacity: 1;
        }
    }

}

@keyframes loadLang {
    from {
        opacity: 0;
        transform: translateX(-10vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@media only screen and (max-width: 768px) {
    
    .theme-switch {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        border: var(--alt) 3px solid;

        &::before {
            border: var(--alt) 2px solid;
        }

        > span {
            color: var(--alt);

            > svg {
                path:nth-child(2) {
                    fill: var(--alt);
                }
            }
        }

    }

}