@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

$width: 40px;
$height: 40px;
    
.sidebar-button-container {

    height: $height;
    width: $width;
    aspect-ratio: 1;
    z-index: 5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;

    &.closed:hover {

        #barTop {
            transform: rotate(-33deg);
        }
        
        #barBottom {
            transform: rotate(33deg);
        }
        
        #barMiddle, #cross1, #cross2 {
            opacity: 0;
        }

    }
    
    &.open {

        #cross1 {
            transform: rotate(45deg);
        }

        #cross2 {
            transform: rotate(-45deg);
        }

        #barMiddle, #barTop, #barBottom{
            opacity: 0;
        
        }

        &:hover {

            #cross1 {
                transform: rotate(33deg);
                transform-origin: 105% 5%;
            }
    
            #cross2 {
                transform: rotate(-33deg);
                transform-origin: 70% 75%;
            }
    
        }
        
    }

    .sidebar-button {
        display: flex;
        height: 100%;
        width: 100%;
        overflow: visible;
        background: transparent;

        * {
            transition: transform 300ms, opacity 300ms, transform-origin 300ms;
            stroke: var(--main);
        }

        #barTop {
            transform-origin: 50% 35%;
        }

        #barBottom {
            transform-origin: 50% 65%;
        }

        #cross1,
        #cross2 {
            transform-origin: 50% 50%;
        }

        /*
            #cross2
            #cross1
            #barBottom
            #barMiddle
            #barTop
            */

    }
}

@media only screen and (max-width: 768px) {
    .sidebar-button-container {

        height: auto;
        width: 65%;
        aspect-ratio: 1;

        .sidebar-button {
            * {
                stroke: var(--alt);
            }
        }
    }
}