@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

$width: 75px;
$height: 16px * 4;

    
.sidebar-button-container {

    position: fixed;
    top: 2dvh;
    right: calc(2vw + 14px);
    height: $height;
    width: $width;
    aspect-ratio: 1;
    z-index: 5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &.closed:hover {

        #barTop {
            transform: rotate(-33deg);
        }
        
        #barBottom {
            transform: rotate(33deg);
        }
        
        #barMiddle, #cross1, #cross2 {
            opacity: 0;
        }

    }

    &.closed .sidebar-button * {
        stroke: white;
    }
    
    &.open {
        
        .sidebar-button * {
            stroke: black;
        }

        #cross1 {
            transform: rotate(45deg);
        }

        #cross2 {
            transform: rotate(-45deg);
        }

        #barMiddle, #barTop, #barBottom{
            opacity: 0;
        
        }

        &:hover {

            #cross1 {
                transform: rotate(33deg);
                transform-origin: 105% 5%;
            }
    
            #cross2 {
                transform: rotate(-33deg);
                transform-origin: 70% 75%;
            }
    
        }
        
    }

    .sidebar-button {
        display: flex;
        height: 40px;
        width: 40px;
        overflow: visible;
        background: transparent;

        * {
            transition: transform 300ms, opacity 300ms, transform-origin 300ms;
        }

        #barTop {
            transform-origin: 50% 35%;
        }

        #barBottom {
            transform-origin: 50% 65%;
        }

        #cross1,
        #cross2 {
            transform-origin: 50% 50%;
        }

        /*
            #cross2
            #cross1
            #barBottom
            #barMiddle
            #barTop
            */

    }
}