@use '../../../styles/colors.scss' as *;
@use '../../../styles/fonts.scss' as *;


.menu-button-container {

    cursor: pointer;
    position: relative;
    transition: all 500ms;
    z-index: 6;
    padding: 0;
    height: 50px;
    width: 50px;

    &.open{
        transform: translateX(-55vw);
    }

    &:focus {
        outline: none;
    }

    .menu-button{

        height: 100%;
        width: 100%;
        border-radius: 50px;
        transition: all 500ms;
        border: 2px solid $darkRed700;
        background: $darkRed700;
        box-sizing: border-box;

        * {
            transition: all 500ms;
            position: relative;
        }

        #up,
        #down,
        #middle {
            stroke: $white;
        }

        #cross{
            transform-origin: 50% 50%;
            transform: scale(1.5) rotate(-55deg);
            z-index: 2;
        }

        #wheat {

            transform: scale(1.3) rotate(45deg);
            transform-origin: 50% 50%;
            z-index: 1;

            *{
                fill: $white;
            }

        }

        &.open{

            background: none;
            border: none;

            #up,
            #down,
            #middle {
                opacity: 0;
            }

            #cross{
                transform: scale(1.5) rotate(-55deg);
                stroke: $white;
            }

            #wheat{
                opacity: 1;
                transform: scale(1.3) rotate(45deg);
            }
        }


        &.closed {

            #up,
            #down,
            #middle {
                opacity: 1;
            }

            #cross{
                opacity: 0;
            }

            #wheat{
                opacity: 0;
            }

        }
    }

}